*{
    box-sizing: border-box;
}
body{
    margin: 0; min-height: 100vh; background-color: #eee;
}
.wrapper{
    max-width: 1300px; margin: auto; padding-left: 10px; padding-right: 10px;
}

/* Header */
header{
    position: fixed; top: 0; width: 100%; background-color: #eee; z-index: 1;
}
.header-cont{
    display: flex; justify-content: space-between; align-items: center;
}
.top-logo{
    width: 130px; height: 130px;
}
.hC-left > h1{
    margin: 0 0 0 5px; transform: translateY(-50px); display: inline-block; font-family: Arial, Helvetica, sans-serif; cursor: pointer; font-size: 2.75rem; color: rgb(123, 59, 35);
}
/* Top Navigation */
nav ul{
    list-style-type: none; padding: 0; margin: 0; transition: all 0.5s;
}
nav ul li{
    display: inline-block;
}
nav ul li > a:link, nav ul li > a:visited, #products-btn{
    display: inline-block; text-decoration: none; padding: 10px; border-radius: 10px; font-family: calibri; font-weight: 600; font-size: 1.2rem;
}
#products-btn{
    position: relative;
}
nav ul li > a:hover, #products-btn:hover, #products-options > a:hover{
    background-color: rgb(123, 59, 35); color: white;
}
#products-options{
    display: none; position: absolute; right: 0; top: 39px; background-color: white; padding: 20px 0; width: 150px; text-align: right; z-index: 1; border-radius: 10px;
}
#products-options > a:link{
    display: block; text-decoration: none; padding: 10px 20px; color: black;
}
#products-options > a:hover{
    color: white;
}
#products-btn:hover #products-options{
    display: block;
}

/* Hamburger Nav icon*/
.hamburger{
    width: 35px; height: 30px; cursor: pointer; margin-left: auto; display: none;
}
.hamburger > div{
    width: 35px; height: 4px; background-color: black; transition: all 0.4s ease; margin-top: 6px;
}
.h-change .bar1{
    transform: rotate(-45deg) translate(-7px, 7px);
}
.h-change .bar2{
    opacity: 0;
}
.h-change .bar3{
    transform: rotate(45deg) translate(-7px, -7px);
}
.tnc-toggle{
    width: 200px !important; height: 380px !important;
}

/* Main Section */
main{
    margin-top: 140px;
}
.home-front{
    display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; padding: 80px 10px 30px;
}
.main-top-video{
    max-width: 600px; height: auto; border: 1px solid #aaa; border-radius: 5px; outline: none; box-shadow: -3px 3px 5px rgba(0,0,0, 0.5);
}
.home-center{
    font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; padding: 50px 0;
}
.home-center > h1{
    font-size: 2.5rem; margin: 5px; font-weight: 500;
}
.home-center > p{
    padding: 10px 20px; margin: 15px; background-color: rgba(0,0,0, 0.4); color: yellow; border-radius: 20px; animation: showHide 4s; animation-timing-function: linear; animation-iteration-count: infinite;
}
.home-center > button{
    padding: 10px 20px; margin-top: 20px; border: 1px solid black; border-radius: 5px; cursor: pointer; transition: all 0.3s;
}
.home-center > button:hover{
    transform: scale(1.2);
}
@keyframes showHide {
    0%{
        background-color: rgba(0,0,0, 0.4);
    }
    50%{
        background-color: rgba(0,0,0, 0.9);
    }
    100%{
        background-color: rgba(0,0,0, 0.2);
    }
}

/* Article : Trending Products */
article{
    text-align: center; margin-top: 50px !important;
}
.col-4{
    display: flex; justify-content: center; align-items: center; gap: 15px; flex-wrap: wrap;
}
.col-4 > div{
    height: 300px; flex-basis: 250px; background-color: gray; border-radius: 10px;
}


/* Media Screen */
@media screen and (max-width: 1023px){
    .hC-left > h1{
        font-size: 2.5rem;
    }
    .main-top-video{
        width: 100%;
    }
    .hC-left{
        transform: translateX(-14px);
    }
}
@media screen and (min-width: 768px){
    .tnc-toggle{
        width: auto !important; height: auto !important;
    }
    nav ul li {
        display: inline-block;
    }
}
@media screen and (max-width: 767px){
    .hC-left > h1{
        font-size: 2rem;
    }
    nav{
        position: relative;
    }
    nav ul{
        position: absolute; right: 0; top: 40px; background-color: whitesmoke; width: 0; height: 0; text-align: right; overflow: auto; z-index: 1;
    }
    nav ul li {
        display: block;
    }
    nav ul li:first-child{
        margin-top: 20px;
    }
    nav ul li > a:link, nav ul li > a:visited, #products-btn{
        color: black;
    }
    nav ul li > a:hover{
        color: white;
    }
    .hamburger{
        display: block;
    }
}
@media screen and (max-width: 600px){
    .hC-left{
        transform: translateX(-28px);
    }
    .hC-left > h1{
        margin: 0; transform: translate(-15px, -50px); font-size: 1.8rem;
    }
    .home-front{
        padding-top: 50px;
    }
}